@import "abstract/custom-variables";
@import "abstract/colors";
@import "abstract/variables";
@import "abstract/mixins";

@import "base/typography";
@import "base/reset";

@import "vendors/bootstrap/bootstrap-grid";

@import "components/card";
@import "components/input";
@import "components/buttons";
@import "components/simple-icons";
@import "components/stroked-icons";

@import "layout/sidebar";
@import "layout/main";
@import "layout/header";

@import "pages/stats/stats";

@import "themes/themes";

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: "Gilroy", sans-serif;
}
