$bg-primary-color-light: #EFF3F9;
$bg-primary-color-dark: #212427;

$bg-secondary-color-light: #FDFDFF;
$bg-secondary-color-dark: #282C31;

$text-primary-color-light: #4F4F4F;
$text-primary-color-dark: #CACACA;

$text-secondary-color-light: #979797;
$text-secondary-color-dark: #979797;

$attention-primary-color: #7F7FD5;
$attention-secondary-color: #E786D7;

$icon-color-light: #DFE6F1;
$icon-color-dark: #CACACA;

$border-light: #EFF3F9;
$border-dark: #4D4D4D;

$border-secondary-light: #EBEBEB;