.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-community {
  font-size:(23/10)*1rem;
  width:(25/23)*1em;
}
.icon-documents {
  font-size:(25/10)*1rem;
  width:(25/25)*1em;
}
.icon-home {
  font-size:(25/10)*1rem;
  width:(25/25)*1em;
}
.icon-mail {
  font-size:(17/10)*1rem;
  width:(25/17)*1em;
}
.icon-more-horizontal {
  font-size:(5/10)*1rem;
  width:(26/5)*1em;
}
.icon-notification {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-play {
  font-size:(25/10)*1rem;
  width:(19/25)*1em;
}
.icon-settings {
  font-size:(25/10)*1rem;
  width:(25/25)*1em;
}
.icon-stats {
  font-size:(25/10)*1rem;
  width:(25/25)*1em;
}
