.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrow-down {
  font-size:(14/10)*1rem;
  width:(13/14)*1em;
}
.icon-arrow-up {
  font-size:(14/10)*1rem;
  width:(13/14)*1em;
}
.icon-search {
  font-size:(11/10)*1rem;
  width:(11/11)*1em;
}
.icon-vk {
  font-size:(28/10)*1rem;
  width:(50/28)*1em;
}
