<div class="card audience">
    <div class="card-header d-flex justify-content-between">
        <div class="title">
            Audience reach
        </div>
        <div class="filter d-flex align-items-center">
            <div class="filter__date text">
                31/01/2020 - 06/02/2020
            </div>
            <div class="filter__data-chooser ms-5 me-12 d-flex">
                <div class="checkbox__checkmark d-flex align-items-center">
                    <input id="desktop" type="checkbox">
                    <label for="desktop" class="text">Total</label>
                </div>
                <div class="checkbox__checkmark ms-2 d-flex align-items-center">
                    <input id="mobile" type="checkbox">
                    <label for="mobile" class="text">Follower</label>
                </div>
            </div>
        </div>
    </div>
    <div class="table ps-8 pe-9">
        <table class="table mt-5">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>31/01</td>
                <td>01/02</td>
                <td>02/02</td>
                <td>03/02</td>
                <td>04/02</td>
                <td>05/02</td>
                <td>06/02</td>
                <td>07/02</td>
            </tr>
        </table>
    </div>
</div>