<div class="card">
    <div class="title">
        Reach by device
    </div>
    <div class="graphic d-flex justify-content-between mt-8">
        <div>
            <div class="circle">

            </div>
            <div class="part">
            </div>
        </div>
        <div class="ms-3">
            <div class="checkbox__first-option d-flex align-items-center">
                <input id="desktop" type="checkbox">
                <label for="desktop" class="text">Desktop</label>
            </div>
            <div class="checkbox__second-option mt-2 d-flex align-items-center">
                <input id="mobile" type="checkbox">
                <label for="mobile" class="text">Mobile views</label>
            </div>
        </div>
    </div>
</div>