<div class="card">
    <div class="d-flex justify-content-between">
        <div class="title">
            Gender / Age
        </div>
        <div class="d-flex">
            <div class="checkbox__first-option d-flex align-items-center">
                <input id="women" type="checkbox">
                <label for="women" class="text">women</label>
            </div>
            <div class="checkbox__second-option ms-2 d-flex align-items-center">
                <input id="men" type="checkbox">
                <label for="men" class="text">men</label>
            </div>
        </div>
    </div>
    <div class="bar-chart-container mt-5 ms-8">
        <div class="bar-chart">
            <div class="first cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>

            <!--second row -->
            <div class="start cell second"></div>
            <div class="start cell"></div>
            <div class="start cell"></div>
            <div class="start cell">
                <div class="age-stats women women-24-27"></div>
                <div class="age-stats men men-24-27"></div>
            </div>
            <div class="start cell"></div>
            <div class="start cell"></div>
            <div class="start cell"></div>
            <div class="start cell"></div>
        </div>
        <div class="bar-chart-age mt-4">
            <div><18</div>
            <div>18-21</div>
            <div>21-24</div>
            <div>24-27</div>
            <div>27-30</div>
            <div>30-35</div>
            <div>35-40</div>
            <div>40></div>
        </div>
    </div>

</div>