<div class="card geo">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="title">Geo</div>
        <div class="location">
            <span class="text">Country</span>
            <span class="text ms-2">City</span>
        </div>
    </div>
    <div class="geo__content mt-5 d-flex justify-content-between align-items-center">
        <div class="column">
            <div class="geo__stats">
                <div class="geo__stats-info d-flex justify-content-between">
                    <div class="text">Russia</div>
                    <div class="text">94%</div>
                </div>
                <div class="bar mt-2">
                    <div class="progress"></div>
                </div>
            </div>
            <div class="geo__stats mt-5">
                <div class="geo__stats-info d-flex justify-content-between">
                    <div class="text">Russia</div>
                    <div class="text">94%</div>
                </div>
                <div class="bar mt-2">
                    <div class="progress"></div>
                </div>
            </div>
            <div class="geo__stats mt-5">
                <div class="geo__stats-info d-flex justify-content-between">
                    <div class="text">Russia</div>
                    <div class="text secondary-text">94%</div>
                </div>
                <div class="bar mt-2">
                    <div class="progress"></div>
                </div>
            </div>
        </div>
        <div class="column ms-4">
            <div class="geo__stats">
                <div class="geo__stats-info d-flex justify-content-between">
                    <div class="text">Russia</div>
                    <div class="text secondary-text">94%</div>
                </div>
                <div class="bar mt-2">
                    <div class="progress"></div>
                </div>
            </div>
            <div class="geo__stats mt-5">
                <div class="geo__stats-info d-flex justify-content-between">
                    <div class="text">Russia</div>
                    <div class="text secondary-text">94%</div>
                </div>
                <div class="bar mt-2">
                    <div class="progress"></div>
                </div>
            </div>
            <div class="geo__stats mt-5">
                <div class="geo__stats-info d-flex justify-content-between">
                    <div class="text">Russia</div>
                    <div class="text secondary-text">94%</div>
                </div>
                <div class="bar mt-2">
                    <div class="progress"></div>
                </div>
            </div>
        </div>
    </div>
</div>