<div class="header pt-7">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <div class="heading">Statistics</div>
                <div class="search d-flex align-items-center ms-9">
                    <div class="search-icon">
                        <svg class="icon">
                            <use href="./images/stroked-sprite.svg#search"></use>
                        </svg>
                    </div>
                    <input type="text" placeholder="Search">
                </div>
                <div class="notification active ms-4">
                    <div class="notification__alert"></div>
                    <svg class="icon icon-notification">
                        <use href="./images/sprite.svg#notification"></use>
                    </svg>
                </div>
            </div>
            <div class="profile d-flex align-items-center">
                <div class="paragraph me-3">
                    Anya
                </div>
                <div class="avatar">
                    <img src="../images/avatar.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>