<div class="sidebar d-flex flex-column justify-content-between py-9">
    <div class="sidebar__logo">
        <svg class="">
            <image href="./images/vk.svg"></image>
        </svg>
    </div>
    <div class="nav">
        <ul>
            <li>
                <svg class="icon">
                    <use href="./images/sprite.svg#home"></use>
                </svg>
            </li>
            <li class="mt-8">
                <svg class="icon">
                    <use href="./images/sprite.svg#documents"></use>
                </svg>
            </li>
            <li class="mt-8">
                <svg class="icon">
                    <use href="./images/sprite.svg#community"></use>
                </svg>
            </li>
            <li class="mt-8">
                <svg class="icon">
                    <use href="./images/sprite.svg#mail"></use>
                </svg>
            </li>
            <li class="mt-8">
                <svg class="icon">
                    <use href="./images/sprite.svg#play"></use>
                </svg>
            </li>
            <li class="active mt-8">
                <svg class="icon">
                    <use href="./images/sprite.svg#stats"></use>
                </svg>
            </li>
            <li class="mt-8">
                <svg class="icon">
                    <use href="./images/sprite.svg#settings"></use>
                </svg>
            </li>
        </ul>
    </div>
    <div class="sidebar__theme-switcher switcher">
        <input id="switcher" type="checkbox">
        <label id="switcherControl" for="switcher" class="control"></label>
    </div>
</div>