<div class="col-lg-4">
    <div class="card community-info">
        <div class="community-info__header d-flex justify-content-between">
            <div class="title">
                @@title
            </div>
            <button class="ghost-button">
                <svg class="icon">
                    <use href="./images/sprite.svg#more-horizontal"></use>
                </svg>
            </button>
        </div>
        <div class="mt-7 community-info__header d-flex justify-content-between">
            <p class="paragraph">
                @@quantity people
            </p>
            <div class="paragraph community-info_dynamic">
                @@growth
                <svg width="32" height="25" class="ms-2 icon">
                    <use href="@@icon"></use>
                </svg>
            </div>
        </div>
    </div>
</div>